h1 {
  text-align: center;
}
div {
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.image {
  position: center;
  width: 150px;
  height: 150px;
}
.btn {
  margin: 15px;
  position: center;
  background-color: blue;
  width: 160px;
  height: 160px;
}
.btn1 {
  margin: 15px;
  position: center;
  background-color: blue;
  width: 160px;
  height: 160px;
}
.megbtn {
  width: 60px;
  height: 60px;
  position: center;
}
.startbtn {
  width: 60px;
  height: 60px;
  position: center;
}
h2,
h1 {
  font-size: 50px;
  text-align: center;
  color: blue;
}

.winMge {
  display: none;
}
.loseMge {
  display: none;
}
