* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 10vh;
  background-image: url(https://media.istockphoto.com/id/1401568968/vector/blue-matrix-background-abstract-binary-code-wallpaper-template-for-hackathon-and-other.jpg?s=612x612&w=0&k=20&c=7WQvXlYcGvriTqRg-bQENTqDTISNnmOB5pSeprNqGBQ=);
  text-align: center;
  justify-content: center;
  font-size: 40px;
  font-family: 'Rubik Mono One', monospace;
  color: white;
}

.game-board {
  padding: 40px;
  width: 1155px;
  height: 420px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  perspective: 1000px;
}

.card {
  margin: 0px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.front,
.back {
  width: 100px;
  height: 100px;
  padding: 0px;
  border-radius: 30px;
  backface-visibility: hidden;
}

.card active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.front {
  transform: rotateY(180deg);
}

#replay {
  color: white;
  background-color: rgb(23, 197, 197);
  border-radius: 20%;
  width: 100px;
  height: 50px;
  font-family: 'Rubik Mono One', monospace;
}

#screenMode {
  width: 60px;
  height: 60px;
  padding: 0px;
  border-radius: 30px;
  backface-visibility: hidden;
  color: white;
  background-color: rgb(23, 197, 197);
  position: center;
}

#levelup {
  color: white;
  background-color: rgb(23, 197, 197);
  border-radius: 20%;
  width: 100px;
  height: 50px;
  font-family: 'Rubik Mono One', monospace;
}
